@import "~bootstrap/scss/bootstrap";

/* make the customizations */
$theme-colors: (
    "info": tomato,
    "danger": teal
);

.colour-row {
	.row>.col, .row>[class^="col-"] {
		background-color: #bbeffd;
		border: 1px solid #61dafb;
		padding: .75rem 0;
	}
}
.home-margin {
	margin: 0 54px;
}
.home-top {
	position: absolute;
    vertical-align: bottom;
    height: 100%;
    width: 100%;
    bottom: 1px;
	img {
		height: 16em;
		position: absolute;
		bottom: 1px;
		width: 100%;
		display: block;
	}
}
#photos {
	// max-width: 800px;
}